client
dev tun0

proto tcp-client
remote OVPN_SERVER OVPN_PORT

pull
nobind

persist-key
persist-tun

ca /vpn/config/ca.crt
cert /vpn/config/docker.crt
key /vpn/config/docker.key

remote-cert-tls server

# Бесконечные попытки переподключения
resolv-retry infinite

# Быстро пробовать заново
connect-retry 3 15
connect-timeout 8

# Быстро замечать разрыв и перезапускать сессию
ping 10
ping-restart 18

# Логи умеренные, но полезные
verb 3
